.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.class
*.lock
*.so
*.zip
*.tar.gz
*.rar
node_modules/
.gradle/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.iws
.idea/
*.hprof
.vscode/
*.code-workspace
.metadata
